{% extends "base.html" %}
{% block header_bar %}
  <h1>Welcome!</h1>
{% endblock %}
{% block main %}
  <div class="span-10 colborder">
    <h2>Applying to live at {{ rental.unit.address }} in {{ rental.unit.city}} is as easy! Follow three simple steps: </h2>
    <h3> Step 1: Login or register,</h3>
    <div class="completed"><h3> Step 2: Fill out the form,</h3></div>
    <ul><li><h4> After you've done one application, Leasely will fill out the rest for you!</h4></li></ul>
    <h3> Step 3: Hit submit and you're done!</h3>
  </div>
  {% include "registration/login_form.html" %}
{% endblock %}