<div class="span-5 colborder">
  <h2>Login</h2>
  <form action="" method="post">{% csrf_token %}
    <div class="{% if form.errors %}error{% endif %}">
      {% if form.errors %}
        <ul class="errorlist"><li>Incorrect Username and Password Combination.</li></ul>
      {% endif %}
      {% for field in form %}
        <div class="label_field-container">
          {{ field.label_tag}}<br />
          {{ field }} 
        </div>
      {% endfor %}
    </div>
    {% if next %}
      <input type="hidden" name="next" id="id_next" value="{{ next }}" />
    {% endif %}
    <p><input type="submit" value="Login" /></p>
  </form>
</div>
<div class="span-7 last">
  <h2>or Register as a Tenant</h2>
  <form action="{% url accounts_register_applicant %}" method="post">{% csrf_token %}
      {% for field in registration_form %}
        <div class="{% if field.errors %}error{% else %}label_field-container{% endif %}">
          {{ field.errors }}
          {{ field.label_tag }}<br />
          {{ field }}
          <p>{{ field.help_text }}</p>
        </div>
      {% endfor %}
    <p><input type="submit" value="Register" />
    {% if next %}
      <input type="hidden" name="next" id="id_next" value="{{ next }}" />
    {% endif %}
  </form>
</div>
