{% extends "accounts/settings_base.html" %}
{% block main %}
  <h2>Personal Information</h2>
  <form action="" method="post">{% csrf_token %}
    {% include "default_form.html" %}
    <p><input type="submit" value="Save" /></p>
  </form>
  <hr />
  <h2>Password</h2>
  <form action="{% url accounts_change_password %}" method="post">{% csrf_token %}
    {# {{ password_change_form.as_p }} #}
    {% with password_change_form as form %}
      {% include "default_form.html" %}
    {% endwith %}
    <p><input type="submit" value="Change Password" /></p>
  </form>
{% endblock %}
