<div id="applicationlist">
{% if user_profile.is_broker or user_profile.is_landlord %}
    <div class="rowheader">
      <div class="span-2">Name</div>
      <div class="span-6">Rental</div>
      <div class="span-3">Lease Start Date</div>
      <div class="span-4">Updated</div>
      <div class="span-6">Status</div>
      <div class="span-3 last">Action</div>
    </div>
    {% for app_doc in app_doc_list %}
      <div class="{% cycle "row1" "row2" %}">
        <div class="span-2">{{ app_doc.applicant.get_full_name }}</div>
        <div class="span-6">{{ app_doc.unit }}</div>
        <div class="span-3">{{ app_doc.rental.start_date }}</div>
        <div class="span-4">{{ app_doc.modified }}</div>
        <div class="span-6">
          {% if app_doc.status == app_doc.PARTIAL %}
            {{ app_doc.percent_complete }}% Complete
          {% else %}
            {{ app_doc.get_status_display|capfirst }}
          {% endif %}
        </div>
        <div class="span-3 last">
          {% if user_profile.is_broker and app_doc.is_broker_viewable %}
            <a href="{% url applications_view app_doc_id=app_doc.id %}">View</a>
            {# broker viewable implies that one of the allowed transitions is to pending #}
            {% if app_doc.status == app_doc.SUBMITTED %}
              <a href="{% url applications_update_status app_doc_id=app_doc.id %}?new_status={{ app_doc.PENDING }}">Notify landlord</a>
            {% endif %}
            {% if app_doc.status == app_doc.PENDING %}
              <a href="{% url applications_update_status app_doc_id=app_doc.id %}?new_status={{ app_doc.ACCEPTED }}">Accept</a>
              <a href="{% url applications_update_status app_doc_id=app_doc.id %}?new_status={{ app_doc.REJECTED }}">Reject</a>
            {% endif %}
          {% endif %}
          {% if user_profile.is_landlord and app_doc.is_landlord_viewable %}
            <a href="{% url applications_view app_doc_id=app_doc.id %}">View</a>
            {% if app_doc.status == app_doc.PENDING %}
              <a href="{% url applications_update_status app_doc_id=app_doc.id %}?new_status={{ app_doc.ACCEPTED }}">Accept</a>
              <a href="{% url applications_update_status app_doc_id=app_doc.id %}?new_status={{ app_doc.REJECTED }}">Reject</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
{% else %}
    <div class="rowheader">
      <div class="span-5">Address</div>
      <div class="span-4">Broker</div>
      <div class="span-2">Lease Start Date</div>
      <div class="span-4">Updated</div>
      <div class="span-6">Status</div>
      <div class="span-3 last">Action</div>
    </div>
    {% for app_doc in app_doc_list %}
      <div class="{% cycle "row1" "row2" %}">
        <div class="span-5"><a href="{% url applications_view app_doc_id=app_doc.id %}">{{ app_doc.unit }}</a></div>
        <div class="span-4">{{ app_doc.broker.get_full_name }} ({{ app_doc.broker.email }})</div>
        <div class="span-2">{{ app_doc.rental.start_date }}</div>
        <div class="span-4">{{ app_doc.modified }}</div>
        <div class="span-6">
          {% if app_doc.status == app_doc.PARTIAL %}
            {{ app_doc.percent_complete }}% Complete
          {% else %}
            {{ app_doc.get_status_display|capfirst }}
          {% endif %}
        </div>
        <div class="span-3 last">
          {% if app_doc.is_editable %}
            <a href="{% url applications_update app_doc_id=app_doc.id %}">Edit</a>
            {# <a href="{% url applications_update app_doc_id=app_doc.id %}">Delete</a> #}
          {% else %}
            <a href="{% url applications_view app_doc_id=app_doc.id %}">View</a>
          {% endif %}
          {% if not app_doc.is_submitted %}
            <a href="{% url applications_submit app_doc_id=app_doc.id %}">Submit</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
{% endif %}
</div>
