{% extends "applications/base.html" %}

{% load filename %}

{% block header_bar %}
  <h1>Apply</h1>
{% endblock %}
{% block main %}
{% if preview %}
  <p class="large">This is what the application form will look like to a prospective tenant that visits http://{{ site }}{% url application url_hash=app_doc.rental.url_hash %}</p>
  <p><a href="?format=pdf">Printable Form</a></p>
{% else %}
  <p><a href="{% url applications_view app_doc_id=app_doc.id %}?format=pdf">Printable Form</a></p>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="form-container">
      {% if app_doc.status == app_doc.NOT_STARTED %}
        <h3>You're 90 seconds away from submitting an application to live at {{app_doc.unit}}.</h3>  
        <h3>Hit submit when you're ready to send it on to {{app_doc.broker.get_full_name}}, the broker.</h3>
      {% endif %}
      
      {% if app_doc.status == app_doc.PARTIAL %}
        <h3>You're {{ app_doc.percent_complete }}% of the way towards submitting your application to live at {{app_doc.unit}}.</h3>
        <h3>Hit submit when you're ready to send it on to {{app_doc.broker.get_full_name}}, the broker.</h3>
      {% endif %}
    
    {% for field in form %}
        {% if "first_name" == field.name %}
            <fieldset>
            <legend>Personal Information</legend>
        {% endif %}
        
        {% if "phone" == field.name %}
          <fieldset>
          <legend>Contact Information</legend>
        {% endif %}
        {% if "address1" == field.name %}
            <fieldset>
            <legend>Current Residence</legend>
        
        {% endif %}
        {% if "landlord_name" == field.name %}
            <fieldset>
            <legend>Current Landlord</legend>
        
        {% endif %}
        {% if "occupation" == field.name %}
            <fieldset>
            <legend>Financial Information</legend>
        
        {% endif %}
        
        {% if "bankruptcy" == field.name %}
            <fieldset>
            <legend>Background Information</legend>
        
        {% endif %}
        
        
      {% if "attachment1" == field.name %}
        <fieldset>
        <legend>Attachments</legend>
      {% endif %}
      
      <div class="label_field-container {% if field.errors%}error{% endif %}">
        <ul class="errorlist">
        {% for error in field.errors %} <li>{{ error }}</li> {% endfor %}
        </ul>
        {# ARGH! I want to be able to do app_doc.getattr(field.name!) #}
        {% if "attachment1" == field.name %}
                <p>Attach credit reports, pay stubs, bank statements, and any other documents that have been requested.  Get 
                your <a href="http://www.ftc.gov/bcp/edu/pubs/consumer/credit/cre34.shtm">annual free credit report</a> if you haven't already and attach it.</p>
        {% endif %}
        {{ field.label_tag}}<br>
        {% if "attachment1" == field.name and app_doc.attachment1 %}
          <p>current: <a href="{{ app_doc.attachment1.url }}" target="_blank">{{ app_doc.attachment1|filename }}</a></p>
        {% endif %}
        {% if "attachment2" == field.name and app_doc.attachment2 %}
          <p>current: <a href="{{ app_doc.attachment2.url }}" target="_blank">{{ app_doc.attachment2|filename }}</a></p>
        {% endif %}
        {% if "attachment3" == field.name and app_doc.attachment3 %}
          <p>current: <a href="{{ app_doc.attachment3.url }}" target="_blank">{{ app_doc.attachment3|filename }}</a></p>
        {% endif %}
        {{ field }}
        {% if field.help_text %}
          <div class="small">({{field.help_text}})</div>
        {% endif %}
        
        
      </div>
      {% if "date_of_birth" == field.name %}
          </fieldset>
      {% endif %}
      {% if "email" == field.name %}
          </fieldset>
      {% endif %}
      {% if "zip_code" == field.name %}
          </fieldset>
      {% endif %}
      
      {% if "landlord_email" == field.name %}
        </fieldset>
      {% endif %}
      {% if "income" == field.name %}
        </fieldset>
      {% endif %}
      {% if "extra" == field.name %}
        </fieldset>
      {% endif %}
      
      {% if "attachment3" == field.name %}
          </fieldset>
      {% endif %}
      
    {% endfor %}
    {% if not preview %}
      <p><input type="submit" value="Save" name="save" /></p>
      <p><input type="submit" value="Submit this application" name="submit" /></p>
    {% endif %}
  </div>
</form>
{% endblock %}
