{% extends "rentals/base.html" %}
{% block header_bar %}
  <h1>Email Application Form</h1>
{% endblock %}
{% block main %}
<form action="" method="post">{% csrf_token %}
  <div class="form-container">
    <div class="label_field-container">
        From
        <br>
        {{ request.user.email }}
    </div>  
    {% for field in email_form %}
      <div class="label_field-container {% if field.errors %}error{% endif %}">
        <ul class="errorlist">
          {% for error in field.errors %} <li>{{ error}} </li> {% endfor %}
        </ul>
        {{ field.label_tag}}<br>
        {{ field }} 
      </div>
    {% endfor %}
    <p><input type="submit" value="send" /></p>
  </div>
</form>
{% endblock %}