{% if form.non_field_errors %}
<div class="error">
  {{ form.non_field_errors }}
</div>
{% endif %}
{% if error_msg %}
<div class="form_field_error">
  <ul class="errorlist">
    <li class="error">{{ error_msg }}</li>
  </ul>
</div>
{% endif %}
{% for field in form %}
<div class="{% if field.errors %}error{% else %}form_field{% endif %}">
  {{ field.errors }}
  <div class="span-8">
    {{ field.label_tag }}:<br />
    <p>{{ field }}</p>
  </div>
  <div class="clear"></div>
  <p>{{ field.help_text }}</p>
</div>
{% endfor %}
