  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/elements.css" type="text/css" media="screen, projection">
  
  <link type="text/css" href="{{MEDIA_URL}}css/jqueryui/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />	
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.6.custom.min.js"></script>

  {% block extra_head %}{% endblock %}

</head>
<body>
  {% block body %}
  <div id="wrapper">
    <div id="top_bar">
      <div class="container">
          <div id="left_top_bar" class="span-10">
            <h1 id="site_name"><a href="/">Leasely</a></h1>
          </div>
          {% block right_top_bar %}
          <div id="right_top_bar" class="span-14 last">
            {% if request.user.is_authenticated %}
              <p>Logged in as {{ request.user }} | <a href="{% url accounts_user_settings %}">My Settings</a> | <a href="{% url logout %}">Logout</a></p>
            {% else %}
              <p><a href="{% url login%}">Login</a></p>
            {% endif %}
          </div>
          {% endblock %}
      </div><!-- span-24 -->
    </div><!-- container -->

    {% block tab_bar %}
    <div id="tab_bar">
      <div class="container">
        <div id="tabs" class="span-24">
          <div id="left_tabs" class="span-10">
            <ul>
              {% if request.user.is_authenticated %}
                <li><a href="{% url dashboard %}" {% block nav-dashboard %}{% endblock %}>Dashboard</a></li>
                <li><a href="{% url applications_index %}" {% block nav-applications %}{% endblock %}>Applications</a></li>
                {% if user.get_profile.is_broker or user.get_profile.is_landlord %}
                  <li><a href="{% url rentals_index %}" {% block nav-rental_units %}{% endblock %}>Rentals</a></li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div><!-- tab bar -->
    {% endblock %}
    
    <div id="header_bar">
      <div class="container">
        <div class="span-18">
          {% block header_bar %}{% endblock %}
        </div>
      </div>
    </div><!-- header_bar -->
    <div id="main">
      <div class="container">
          {% if messages %}
            <div class="span-24 last">
                {% for message in messages %}
                  <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
            <div class="clear"></div>
          {% endif %}
          {% block main %}{% endblock %}
      </div>
    </div>
  </div><!-- wrapper -->
  <div id="footer">
    <div class="container">
      <div class="span-24 last append-bottom">
        {% block footer %}
        <div class="span-4">
            <h5 class="bold">Help</h5>
            <p><a href="/faq/">FAQ</a></p>
            <p><a href="/sample/rental_application_forms/">Paper</a></p>
        </div>
        <div class="span-4 prepend-2">
            <h5>Company</h5>
            <p><a href="/about/">About</a></p>
            <p><a href="http://blog.leasely.com">Blog</a></p>
            <p><a href="http://leasely.uservoice.com">Feedback</a></p>
        </div>
        <div class="span-6 prepend-8 last">
            <h5>&copy; 2010 Leasely, All Rights Reserved</h5>
            <p><a href="http://twitter.com/leasely">Follow @Leasely on Twitter <img src="{{MEDIA_URL}}img/icons/small_twitter_icon.png"></a></p>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>

  {% endblock %}

</body>
</html>
