{% extends "dashboard/base.html" %}
{% block header_bar %}
  <h1>Broker Dashboard</h1>
{% endblock %}
{% block main %}

  <h2>To get started, follow these easy steps:</h2>

  <div class="{% if rental_list %}completed{% endif %}"><h3>Step 1: Make an application by <a href="{% url rentals_create %}">adding a rental</a>.</h3></div>

  <div class="{% if app_doc_list %}completed{% endif %}"><h3>Step 2: Put your unique web address in your rental listings, e-mail it to prospective tenants, or print it on rental application forms.</h3></div>

  <h3>Step 3: Sit back, and <a href="{% url applications_index %}">watch the applications roll in</a>.</h3>
  
        
  {% if rental_list or app_doc_list %}  
      <hr />
  
      <h2>Applications</h2>
      {% if app_doc_list %}
        <p>Here are the most recent applications.</p>
        {% with app_doc_list|slice:":5" as app_doc_list %}
          {% include "applications/application_list.html" %}
        {% endwith %}
        <p><a href="{% url applications_index %}">See all &rarr;</a></p>
      {% else %}
        <h3>This is where you'll see applications that come in for your rentals.</h3>
        <h3>Put your unique web address in your rental listings, e-mail it to 
            prospective tenants, or print it on rental application forms.</h3>
      {% endif %}
      <hr />
      <h2>Rentals</h2>
      {% if rental_list %}
        <p>Here are your most recent rentals. The urls are yours and yours only, different brokers get different urls.</p>
        <p><a href="{% url rentals_create %}" class="button"><span class="add-button">Add a rental</span></a></p>
        {% with rental_list|slice:":5" as rental_list %}
          {% include "rentals/rental_list.html" %}
        {% endwith %}
        <p><a href="{% url rentals_index %}">See all &rarr;</a></p>
      {% else %} 
        <h3>No rental units found.</h3>
        <p><a href="{% url rentals_create %}" class="button"><span class="add-button">Add a rental</span></a></p>
      {% endif %}
    {% endif %}
  
{% endblock %}
