{% extends "base.html" %}
{% load adminfiles_tags %}
{% block title %}
    Frequently Asked Questions - {{ block.super }}
{% endblock %}
{% block header_bar %}
    <h1>{{ flatpage.title }}</h1>
{% endblock %}

{% block main %}
    <h3>I'd like to accept both paper and online applications.  How do I do that with Leasely?</h3>
    <p>Easy.  After you add a rental, visit your unique web address for that rental and click on "printable document."
        The document that opens can be used as a paper application and it has the unique web address for your application
        so that a tenant can fill it out online, too.  If you want to do your applications with purely paper,
        also see our <a href="/sample/rental_application_forms/">sample rental application templates</a>.</p>
    <hr />
    <h3>I'd like to ask applicants a question which isn't on the Leasely standard form.  Can I add it?</h3>
    <p>That's what the "Extra" field in the application form is for!  In your apartment listing, ask any additional questions
        and tell your applicants to respond in the "Extra" field of the application form.  We're working
        on making application forms editable by brokers.  If that's a feature you want, tell us and we'll make it
        a priority.</p>
{% endblock %}

