{% extends "base.html" %}
{% load adminfiles_tags %}
{% block title %}
    Sample Rental Application Forms - {{ block.super }}
{% endblock %}
{% block header_bar %}
    <h1>{{ flatpage.title }}</h1>
{% endblock %}

{% block main %}
  <div class="span-24">
      <h2>Online Rental Application Forms</h2>
      <h3>Paper is a hassle.</h3>
      <h3>We'll create an online rental application form for you in less than the time it takes to download and print a 
          paper application.  Your application will get a unique web address.  Tenants go there and submit their applications
          to you online, saving everyone the trouble of hand delivery or fax.</h3>
      <h3><a href="{% url homepage %}">Get started!</a></h3>
      <hr />
      <h2>Paper Rental Application Forms</h2>
      <h3>You can print Leasely online rental application forms. Click on your unique web address to view the application and go to the printable form.</h3>
      <h3>You should start by first <a href="{% url homepage %}">logging in or signing up.</a></h3>
      <h3>At the moment, we don't yet offer customizable forms.  Here is a <a href="http://www.leasely.com/site_media/adminfiles_uploads/2010/11/California_Sample_Rental_Application_Form.pdf">rental application form for California</a> to look at until then.
          Leave us <a href="http://leasely.uservoice.com">feedback</a> to let us know how we can improve!</h3>
  </div>
{% endblock %}

